@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-display: var(--font-stalinistOne);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "montserrat", Arial, Helvetica, sans-serif;
}
::selection {
  background-color:oklch(57.7% 0.245 27.325);
  /* background: linear-gradient(to right, #ef4444, #991b1b); */
  color: white;
}
